<h1>Posts Statistics</h1>
<p>Total number of users: <%= User.count %></p>
<p>Total number of posts: <%= Micropost.count %></p>
<p>Total number of replies: <%= Reply.count %></p>
<p>Average number of posts per user: <%= @average_number_posts_per_user %></p>
<p>Average number of comments per post: <%= @average_number_comments_per_post %></p>
